.myprofile{
  display: flex;
 align-items: center;

white-space: nowrap;
  max-width: 100px; 
 margin: 0 auto;
width:100%;
padding-right: 600px;

}
/* .wrap-lastName{
  white-space: normal;
} */
/* .myprofile .name-container > div{
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
} */

.button-btn{
  max-width: 400px;
position: sticky;
left:345px;
top:-30px;
}

