.dropzone-container {
  margin-top: 25px;
  margin-right: 20px;
}

.textfild-components {
  background-color: rgb(250, 240, 240);
  border-radius: 15px;
  padding-left: 25px;
  margin-top: 10px;
  box-shadow: 7px 7px 3px 0 rgba(139, 139, 139, 0.3);
  transition: box-shadow 0.3;
}

.textfild-components:hover {
  box-shadow: 10px 10px 6px 0 rgba(90, 90, 90, 0.5);
}

.fastfood {
  display: flex;
  align-items: center;
  gap: 10px;
}

.description {
  display: flex;
  align-items: center;
  gap: 10px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
}

.category .MuiAutocomplete-root {
  flex: 1;
}

.category .MuiFormControl-root {
  width: 100%;
}

.category .MuiAutocomplete-inputRoot[class*="MuiInput-root"] {
  width: 100%;
}

.tags {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tags .MuiAutocomplete-root {
  flex: 1;
}

.tags .MuiFormControl-root {
  width: 100%;
}

.tags .MuiAutocomplete-inputRoot[class*="MuiInput-root"] {
  width: 100%;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.discount-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Icon {
  color: rgb(153, 153, 153);
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;


}
/*createitemfoo*/
.food-item {
  margin-top: 20px;
}
.my-textarea {
  padding: 10px;
  font-size: 18px;
  outline: none;
  border-radius: 5px;

  transition: border-color 0.3s ease;
}
.my-textarea:hover {
  border: 2px solid rgb(99, 87, 255);
  border-color: rgb(107, 97, 252);
}
