.menu-button{
    border: none;
    background-color:transparent;  
}
.menu-icon{
    position: relative;
    top:5px;
    right:5px;
    color:rgb(143, 142, 142)
}
.btn-button{
    float:right ;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color:rgba(124, 53, 118, 0.9);
    color:white;
    cursor: pointer;
}
.menutable-container {
width: 100%;
border-radius: 10px;
height: 90vh;
box-shadow: 7px 7px 3px 0 rgba(182, 184, 184, 0.7);
    transition: box-shadow 0.3;
}
.menutable-container:hover{
    box-shadow: 10px 10px 6px 0 rgba(90, 90, 90, 0.7);
}
.menutable-container tbody{
 
}
.menutable-container thead{
    text-align: center;
    background-color: rgb(209, 207, 207);
}


/* .table-data td,
.table-data th {
    border: 1px solid #ddd;
    padding: 8px;

} */

.menutable-container tr:nth-child(even) {
    background-color: #f5f3f3;

}

.menutable-container tr:hover {
    background-color: #f3e6e6;
}

.table-data th,
tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;

}